# Git
.git
.gitignore
.github
create_permissions.log
# Logs
log/*
# Temp files
tmp/*
# Editor temp files
*.swp
*.swo
coverage
# Ignore generated test data
test/data/uploaded_ontologies/**/*
test/data/ontology_files/repo/**/*
