*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
logs/**
.tags*

# YARD artifacts
.yardoc
_yardoc
doc/

# Only the bins we want
bin/**
!bin/owlapi_wrapper.jar

# Mac artifacts
**.DS_Store

# Support local configs
Gemfile.local
Gemfile.lock
config/environments/production.rb
config/environments/test.rb
config/environments/development.rb

# Ignore generated test data
test/data/uploaded_ontologies/**/*
test/data/ontology_files/repo/**/*

# Ignore RubyMine editor files
.idea

*.swp

.ruby-version




config/environments/console.rb

config/environments/stage.rb
