# Local gemfile
# This gets included by a back-door in bundler if it exists

source 'https://rubygems.org'

# Use :path instead of :git to point to a local code repository
gem 'goo', :git => 'https://github.com/ncbo/goo.git'
gem 'sparql_http', :git => 'https://github.com/ncbo/sparql_http.git'
gem 'ontologies_linked_data', :git => 'https://github.com/ncbo/ontologies_linked_data.git'
gem 'ncbo_annotator', :git => 'https://github.com/ncbo/ncbo_annotator.git'
gem 'ncbo_cron', :git => 'https://github.com/ncbo/ncbo_cron.git'
gem 'ncbo_resolver', git: "https://github.com/ncbo/ncbo_resolver.git"
