# This file can be copied and renamed to match the environment you are running in:
#   production.rb
#   development.rb
#   test.rb

LinkedData.config do |config|
  config.repository_folder = File.expand_path('../../../test/data/uploaded_ontologies', __FILE__)
  config.goo_host = "localhost"
  config.goo_port = 9000
  config.search_server_url = "http://localhost:8983/solr"
  config.rest_url_prefix = "http://data.bioontology.org/"
  config.enable_security = false
  config.redis_host = "localhost"
  config.redis_port = 6379
end